.hero {
	background: var(--color-darkblue) url("../../../../images/landingLogo.svg") no-repeat center center;
	background-size: 248px;
	height: calc(100vh - 66px);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

@media screen and (min-width: 768px) {
	.hero {
		background-size: 320px;
	}
}
