.footer__container {
	max-width: 1280px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	gap: 30px;
	padding: 0 10px 20px;
}

@media screen and (min-width: 425px) {
	.footer__container {
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
		padding: 0 30px 20px;
	}
}

@media screen and (min-width: 1000px) {
	.footer__container {
		padding: 0 70px 20px;
	}
}
