.sign__form {
	height: 67vh;
	min-height: 350px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 320px;
	box-sizing: border-box;
	padding: 0 30px 30px;
	justify-content: space-between;
}

@media screen and (min-width: 425px) {
	.sign__form {
		max-width: 396px;
		padding-left: 0;
		padding-right: 0;
	}
}
