.films__container {
	display: grid;
	gap: 16px;
	box-sizing: border-box;
	grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
	justify-items: center;
	padding: 50px 10px 30px;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

@media screen and (min-width: 768px) {
	.films__container {
		padding: 80px 30px 30px;
		row-gap: 36px;
		column-gap: 30px;
	}
}

@media screen and (min-width: 1000px) {
	.films__container {
		padding: 80px 70px 30px;
		row-gap: 30px;
		column-gap: 24px;
	}
}
