@media screen and (min-width: 768px) {
	.student__about {
		margin: 16px 0 20px;
	}
}

@media screen and (min-width: 1000px) {
	.student__about {
		margin: 18px 0 26px;
		font-size: 18px;
		line-height: 20px;
	}
}
