.promo__block {
	margin: 0;
	width: 100%;
	padding: 11px 0;
	/*Шрифт*/
	font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
}

@media screen and (min-width: 425px) {
	.promo__block {
		font-size: 14px;
		line-height: 17px;
		padding: 10px 0;
	}
}
