.promo__time {
	display: grid;
	grid-template-columns: 100px 1fr;
	justify-items: center;
	align-items: center;
	row-gap: 10px;
}

@media screen and (min-width: 425px) {
	.promo__time {
		grid-template-columns: 140px 1fr;
		row-gap: 14px;
	}
}

@media screen and (min-width: 1000px) {
	.promo__time {
		grid-template-columns: 228px 1fr;
	}
}
