.footer__link {
	margin: 0;
	/*Шрифт*/
	font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: var(--font-color);
	text-decoration: none;
	/*Анимация*/
	transition: filter linear .2s, opacity linear .2s;
}

.footer__link:hover {
	cursor: pointer;
	filter: drop-shadow(0 3px 3px var(--color-black));
}

.footer__link:active {
	opacity: .8;
}

@media screen and (min-width: 425px) {
	.footer__link {
		font-size: 13px;
		line-height: 16px;
	}
}
