.sign__header {
	height: 33vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 50px;
}

@media screen and (min-width: 425px) {
	.sign__header {
		align-items: flex-start;
		justify-content: flex-end;
		max-width: 396px;
		box-sizing: border-box;
		margin: 0 auto;
		padding-bottom: 40px;
		gap: 40px;
	}
}
